:root {
    --color-primary: #ea9225;
    --color-nav-hover: rgba(234, 0, 18, 0.41)
}

.alternate-color:nth-child(even) {
    background: #eff2ea
}

.alternate-color:nth-child(odd) {
    background: var(--color-primary);
    color: white;
}

.bg-orange {
    background: var(--color-primary);
}

.bg-red {
    background-color: rgb(234, 3, 43)
}

.hover\:bg-red-40:hover {
    background-color:  var(--color-nav-hover);
}


body {
    font-family: "Varela Round", serif;
}
